body {
  font-family: sans-serif;
  margin: 50px;
  background-color: #F5F5F5;
} 

.fixed {
  position: relative;
}

@media all and (min-width:1000px) {
    .fixed {
      position: fixed;
    }
}

.sidebar-bottom{
  bottom: 20px;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  line-height:20px;
}

 #sitename{
  text-decoration: none;
  font-weight:bold;
  font-size: 30px;
  text-transform: uppercase;
}

#sitename a{
  color: magenta;
  text-decoration: none;
  line-height:28px;
}

#sitename a:hover{
  color: #14FF64;
  text-decoration: none;
}

.navigation ul{
  list-style:none;
  padding-left:0;

}

.navigation ul li a{
  list-style:none;
  color: #14FF64;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
}

.navigation ul li a:hover{
  color:magenta;
}
.navigation ul li a: selected{
  color:magenta;
}

.caption-main {
  font-size:12px;
}