body {
  font-family: sans-serif;
  margin: 50px;
  background-color: #F5F5F5;
} 

.fixed {
  position: relative;
}

.flex-col-2 {
  	  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.single-img-width {
	width: 100%;
}

.info{
line-height: 24px;
font-size:14px;
margin-left: 0px;
}


.navigation ul li a{
  list-style:none;
/* 
  color: #14FF64;
 */
  color: #999;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  font-size: 34px;
  line-height: 65px;
}

 #sitename{
  text-decoration: none;
  font-weight:bold;
  font-size: 50px;
  text-transform: uppercase;
}

#sitename a{
  color: magenta;
  text-decoration: none;
  line-height:50px;
}

@media all and (min-width:1000px) {
    .fixed {
      position: fixed;
    }
    .flex-col-2 {
      	-ms-flex-preferred-size: 80%;
    	flex-basis: 80%;
    }
    .single-img-width {
    	width:60%;
    }
    .navigation ul li a{
  		list-style:none;
		/* 
  		color: #14FF64;
 		*/
  		color: #999;
  		text-align: left;
  		text-decoration: none;
  		font-weight: bold;
  		font-size: 14px;
  		line-height: 28px;
	}
	#sitename{
  		text-decoration: none;
  		font-weight:bold;
  		font-size: 28px;
  		text-transform: uppercase;
	}

	#sitename a{
  		color: magenta;
  		text-decoration: none;
  		line-height:28px;
	}
	.info {
		margin-left: 30px;
	}
}

.sidebar-bottom{
  position:fixed;
  bottom: 20px;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  line-height:20px;
}

@media screen and (max-width: 1000px) {
    .sidebar-bottom {
        display: none !important;
    }
    
}




#sitename a:hover{
  color: #14FF64;
  text-decoration: none;
}

.navigation ul{
  list-style:none;
  padding-left:0;

}



.navigation ul li a:hover{
  color:magenta;
}
.navigation ul li a: selected{
  color:magenta;
}

.caption-main {
  font-size:12px;
}




a{
color:#00aced;
}

